.tabs-content {
  transition: all .5s ease; 
}



.tabs-table {
  background: #f7f5f6;
  padding: .5rem .5rem;
  margin: 1.5rem 0;
  display:flex;
  justify-content: center; 
}

.tabs-should {
  padding: 1.2rem;
}
